<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head.ejs")%>
    <title><%- title%></title>
</head>
<body class="bg-dark">
    <main>
        <%- include("partials/navbar.ejs")%>
        <section>
            <div class="container mb-3 mt-2  d-flex justify-content-center align-items-center ">
                <div class="card bg-primary text-white text-center g-2">
                    <div class="card-header">
                        <h1 class="d-flex justify-content-center"> Contacto:</h1>
                        <div class="card-body text-start">
                            <form>
                                <div class="mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" placeholder="Escriba tu Email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="mensaje">Mensaje</label>
                                    <textarea name="mensaje" rows="10" class="form-control" placeholder="Escriba tu consulta" required></textarea>
                                </div>
                                <button class="btn btn btn-danger btn-block" type="submit">
                                    Enviar
                                </button>
                                <br>
                                <p class="d-flex justify-content-center">
                                    Si deseas obtener más información sobre nuestros servicios o discutir tus necesidades tecnológicas, no dudes en ponerte en contacto con nosotros. Estamos aquí
                                
                                para ayudarte en cada paso del camino. Puedes comunicarte con nosotros a través de los siguientes medios:
                                • Teléfono: 3202472368
                                • Correo electrónico: info@innovatetechsolutions.com
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<%- include("partials/script.ejs")%>
</html>