<footer class="bg-primary fw-bold">
    <div class="img">
        <img src="logo.png" alt="logo" width="90px">
        <i class="fa-solid fa-phone"><span> 321 742 1669</span></i>
        <i class="fa-solid fa-envelope"><span> info@innovatetechsolutions.com </span></i>
        <i class="fa-solid fa-compass"><span> Colombia-Huila </span></i>
    </div>
    <div class="redes">
        <h2>Redes</h2>
        <div class="redesIcons d-flex gap-4">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </div>
    <form action="" class="form">
        <h3>Contact</h3>
        <input type="text" placeholder="name">
        <input type="text" placeholder="email">
        <button>Contact</button>
    </form>
</footer>